#celek{
    .ppDetail{
        padding: 25px 0;

        &:nth-of-type(even){
            .ppImage{
                order: 2;
            }

            .ppText{
                order: 1;
            }
        }

        .ppSplit{
            margin-top: 60px;
            @include flex;
            justify-content: space-between;

            &:first-of-type{
                margin-top: 0;
            }

            &:nth-of-type(even){
                .ppImage{
                    order: 2;
                }
    
                .ppText{
                    order: 1;
                }
            }

            .ppImage{
                width: calc(50% - 30px);
                order: 1;

                &__wrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    border-radius: 10px;

                    img{
                        max-height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .ppText{
                box-sizing: border-box;
                width: calc(50% - 30px);
                text-align: left;
                order: 2;
                
                .hdl3{
                    color: $color-headlines;
                }

                .perex{
                    margin: 24px 0 0;
                    color: $color-perex;
                }
            }
        }

        .ppSplit.withBackground{
            border-radius: 10px;

            &:nth-of-type(even){
                .ppImage__wrapper{
                    border-radius: 0 10px 10px 0;
                }
            }

            &:nth-of-type(odd){
                .ppImage__wrapper{
                    border-radius: 10px 0 0 10px;
                }
            }

            .ppImage{
                width: 50%;
                overflow: hidden;

                figure{
                    height: 100%;
                }

                &__wrapper{
                    height: 100%;

                    img{
                        max-height: 100%;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .ppText{
                width: 50%;
                padding: 40px 32px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                align-content: center;

                .hdl3{
                    color: $white;
                }

                .perex{
                    color: $white;
                }
            }
        }
    }

    .ppDetail.detail100 .ppSplit{
        overflow: hidden;
    }

    .ppDetail.detail100 .ppSplit,
    .ppDetail .ppSplit.withBackground{
        background: rgb(92,184,153);
        background: linear-gradient(0deg, rgba(92,184,153,1) 0%, rgba(163,196,47,1) 100%);
    }

    // 100% width detail
    .ppDetail.detail100{
        .ppSplit{
            border-radius: 10px;

            .ppImage{
                order: 2;
                width: 100%;

                &__wrapper{
                    max-height: 420px;
                    overflow: hidden;
                    border-radius: 0 0 10px 10px; 

                    .lightBoxImage{
                        width: 100%;
                    }
                }
            }

            .ppText{
                order: 1;
                width: 100%;
                padding: 0 32px;
                @include flex;
                padding: 32px 24px;

                .hdl3{
                    color: $white;
                    width: calc(50% - 20px);
                    margin: 0 10px;
                    text-align: center;
                }

                .perex{
                    color: $white;
                    width: calc(50% - 20px);
                    margin: 0 10px;
                    margin-top: 0;
                }
            }
        }
    }

    .ppDetail.detail100.withoutBackground{
        .ppSplit{
            background: none;

            .ppText .perex,
            .ppText .hdl3{
                color: #1f2226;
            }

            .ppImage__wrapper{
                border-radius: 10px;
            }
        }
    }
}

// mobile & app
@media only screen and (max-width: 980px){
    .mobile #celek,
    .mobileapp #celek{
        .ppDetail.detail100 .ppSplit,
        .ppDetail .ppSplit.withBackground{
            .ppText{
                order: 1;
                margin-top: 0;
                padding: 32px 24px;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .mobile #celek,
    .mobileapp #celek{
        .ppDetail.detail100{
            .ppSplit{
                .ppText{
                    order: 1;
                    margin-top: 0;

                    .hdl3{
                        width: 100%;
                    }
    
                    .perex{
                        width: 100%;
                        text-align: center;
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .mobile #celek,
    .mobileapp #celek{
        .ppDetail .ppSplit .ppText,
        .ppDetail .ppSplit .ppImage{
            width: 100%;
        }

        .ppDetail .ppSplit .ppText{
            order: 2;
            padding-left: 0;
            padding-right: 0;
            margin-top: 32px;
        }

        // image
        /* .ppDetail .ppSplit.withBackground .ppImage__wrapper img, */
        .ppDetail.detail100 .ppSplit .ppImage__wrapper img{
            max-width: 100%;
        }

        .ppDetail .ppSplit .ppImage{
            order: 1;
            overflow: hidden;

            &__wrapper{
                max-height: 300px;
            }

            img{
                max-height: 300px;
            }
        }

        .ppDetail .ppSplit.withBackground .ppImage__wrapper{
            border-radius: 10px 10px 0 0;
        }
    }
}