#celek{
    .ppHeader{
        padding: 25px 0;
        
        &__imageWrapper{
            width: 100%;
            height: 100%;
            @include flex;
            align-content: center;
        }

        &__product{
            @include flex;
            margin: 0 auto;
        }

        &__textWrapper{
            text-align: left;
            order: 1;
            width: calc(50% - 20px);
            margin-left: 20px;

            .upHdl{
                font-size: 28px;
                line-height: 34px;
                color: $color-headlines;
            }

            .hdl2{
                color: $color-headlines;
                margin: 0 auto;
                padding: 0;
                font-size: 48px;
                line-height: 58px;
                font-weight: 700;
            }

            .par{
                color: #333;
                margin: 24px auto 0;
            }
        }

        &__productWrapper{
            margin: 30px auto 0;
            order: 2;
            width: 50%;
            position: relative;

            &--imageWrapper{
                @include flex;
                margin: 0 auto;
                
                img{
                    max-height: 400px;
                    height: auto;
                    width: auto;
                }
            }
        }

        // badge
        &__badgeWrapper{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 180px;
            height: 180px;

            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    max-width: 180px;
                    max-height: 180px;
                }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 550px){
    .mobile #celek,
    .mobileapp #celek{
        .ppHeader__productWrapper{
            width: 100%;
            order: 1;
            margin-top: 24px;
        }

        .ppHeader__textWrapper{
            width: 100%;
            margin-left: 0;
            text-align: center;
            order: 2;

            .par{
                margin-top: 24px;
            }
        }
    }
}